{% extends 'base.html'%} {% block head %}
<style>
    :root {
        --primary-highlight-color: rgba(100, 100, 100, 0.75);
        --primary-background-color: rgb(100, 100, 100);
    }

    #index-top-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .jumbotron {
        background-color: var(--primary-highlight-color);
        margin: 2rem;
    }

    .main-button {
        height: 10rem;
        border-radius: 25px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .first-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    .second-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    .third-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    #main-button img {
        object-fit: none;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    #main-button div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .highlight {
        background-color: var(--primary-highlight-color);
        border-radius: 5px;
        padding: 5px;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: var(--primary-background-color);
    }
</style>
{% endblock %} {% block body %}

<div class="jumbotron text-center display-3">
    <p>About</p>
    <p></p>
</div>

<div class="container-sm">
    <p class="highlight" style="padding: 50px; background-color: #368f51;">
       We set out to build an intuitive site that collects data about universities, cities, and majors from several sources and presents it to you, a prospective college student, in a way that makes it easier for you to find the information you need to pick the right college. The site has information about all of the universities in the U.S., including key statistics about their admissions and costs for attending. It also has essential information about the most common majors that college students can choose from. Finally, the site contains snapshots of college cities and factors that may influence a prospective student’s decisions about what college to attend.
    </p>
</div>

<div class="container-sm">
    <p class="highlight" style="padding: 50px; background-color: #368f51;">
       By aggregating data about universities, majors, and cities, we have centralized much of the key information that students need to choose the best college for them. While university databases and sites that list majors provide helpful information, our site provides information specifically relevant to prospective and current college students.
    </p>
</div>

<div class="container-sm">
    <p class="highlight" style="padding: 50px; background-color: #368f51;">
        Our datasets: <br>
        <a href="https://collegescorecard.ed.gov/data/documentation/" style="color: white">Department of Education Scorecard</a>
        <br>
        <a href="https://data.opendatasoft.com/explore/dataset/us-colleges-and-universities%40public-us/table/?sort=population" style="color: white">Open DataSoft</a>
        <br>
        <a href="https://www.karllhughes.com/posts/database-of-accredited-colleges-in-the-united-states" style="color: white">College's API</a>
        <br>
        <br>
        Our tech stack: <br><br>
        <a href="https://flask.palletsprojects.com/en/1.1.x/" style="color: white">Flask</a> <br>
        Our backend framework is flask, a microservices framework for python. Flask is useful in that it is lightweight: it was trivially simple to set up the server and start running it locally. When we want to add new pages, we simply add a route for the new page. We also took advantage of Flask’s template mechanics. Using flask templates, we dynamically generate instance pages for our major, university, and city models. This allows us to reuse the same HTML, instead of adding hundreds of nearly identical HTML files for each university.
        <br><br>
        <a href="https://getbootstrap.com/" style="color: white">Bootstrap</a>
        <br>
        Our frontend framework is bootstrap, which we use alongside HTML and CSS to design our web pages. Bootstrap has been crucial for allowing our pages to be reactive. The pages in our site dynamically resize based on the size of the viewport, allowing our format to remain robust and look clean, despite the window size limitations of the user. 
        <br><br>
        <a href="https://www.mongodb.com/" style="color: white">MongoDB</a> & <a href="http://mongoengine.org/" style="color: white">mongoengine</a>
        <br>
        All of our data is dynamically pulled from MongoDB, including the images for every model instance. Our models are defined with MongoEngine, an open-source Python Object-Document Mapper. MongoEngine will allow us to define “schemas” (MongoDB does not technically have schemas since it’s NoSQL) with python objects, so we can interact with our database purely in terms of University, Major, and City python objects that we design.
        <br><br>
        <a href="https://github.com/UT-SWLab/TeamE3" style="color: white">Our github repo</a>
        <br>
    </p>
</div>

<div class="row justify-content-center"><h1>Our Team: Team E3</h1></div>
<div class="card-group">
  <div class="card">
    <div class="card-body text-center">
        <img class="rounded-circle" src="{{url_for('static', filename=('harrison.jpg'))}}"/>
        <h6 style="font-weight: bold">Harrison Berrier</h6>
        <p class="card-text">A fourth-year electrical and computer engineering student at the University of Texas at Austin specializing in software design. Harrison plans to pursue a graduate degree in software design at UT.
        </p>
        <hr class="dotted">
        <p class="card-text">Harrison was responsible for the initial site wireframe as well as the model base pages. </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
        <img class="rounded-circle" src="{{url_for('static', filename=('mohit.jpg'))}}"/>
        <h6 style="font-weight: bold">Mohit Gupta</h6>
        <p class="card-text">A third-year electrical and computer engineering student at the University of Texas at Austin focusing on software engineering. Mohit plans to pursue a software engineering job after graduating.</p>
        <hr class="dotted">
        <p class="card-text">Mohit created the university instance pages. </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
        <img class="rounded-circle" src="{{url_for('static', filename=('nikhil.png'))}}"/>
        <h6 style="font-weight: bold">Nikhil Jalla</h6>
        <p class="card-text">A fourth-year electrical and computer engineering student at the University of Texas at Austin with a focus on software design. In his free time he likes to read books and read up on news. After graduating Nikhil plans to pursue a job in software engineering. </p>
        <hr class="dotted">
        <p class="card-text">Nikhil implemented the city instance pages. </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
        <img class="rounded-circle" src="{{url_for('static', filename=('silas.png'))}}"/>
        <h6 style="font-weight: bold">Silas Strawn</h6>
        <p class="card-text">A fifth-year electrical and computer engineering student at the University of Texas at Austin, specializing in software engineering. He enjoys rock climbing, walking around Austin, TX, and keeping up with the news via podcasts.</p>
        <hr class="dotted">
        <p class="card-text">Silas set up the backend/deployment and created the major instance pages. </p>
    </div>
  </div>
</div>
<br>

{% endblock %}
