{% extends 'base.html' %} {% block head %}
    <title>US Cities IDB</title>
    <style>
        #city {
            height: 100%;
        }

        .card-img-top {
            height: 12vw;
            object-fit: cover;
        }

        .highlight {
            background-color: var(--primary-highlight-color);
            border-radius: 5px;
            padding: 5px;
        }

        :root {
            --primary-highlight-color: rgba(100, 100, 100, 0.75);
            --primary-background-color: rgb(100, 100, 100);
        }
    </style>
{% endblock %}

{% block body %}
<div class="jumbotron" style="background-color: #395C6B; margin-bottom: 0px">
    <div class="row">
      <h1>{{city_name}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col" style="background-color: #80A4ED; padding: 40px">
      <h4 class="text-center">{{city_name}} stats</h4>
      <h5>Area (sq mi): {{city.area}}</h5>
      <h5>Population: {{city.population}}</h5>
      <h5>Population Density: {{city.population_density}}</h5>
      <h5>Community Type: {{city.community_type}}</h5>
      <h5>Median Age: {{city.median_age}}</h5>
      <h5>Median Gross Rent: {{city.median_gross_rent}}</h5>
    </div>
 
    <div class="col-xl-9" style="padding: 40px">
        <h3 class="text-center">Colleges & Universities in {{city_name}}</h3>
        <div class="card-columns">
        {% for uni in schools %}
        <!-- TODO make image a background-image instead of img -->
        <div
            class="card h-100 main-button"
            style="background-image:'{{url_for('static', filename=(uni.lower() + '.jpg'))}}';"
        >
            <img class="card-img-top d-block" src="{{url_for('static', filename=(uni.lower() + '.jpg'))}}" />
            <div class="centered text-white highlight">{{uni}}</div>
            <a href="/university/{{uni.lower().replace(' ', '_')}}" class="stretched-link"></a>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}