{% extends 'base.html' %} {% block head %}
    <title>US Cities IDB</title>
    <style>
        #city {
            height: 100%;
        }

        #map {
            height: 500px;
            margin-bottom: 50px;
        }

        .headers {
            color: white;
            background-color: #395C6B;
            padding: 4px 0px 4px 5px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .card-img-top {
            height: 12vw;
            object-fit: cover;
        }

        .highlight {
            background-color: var(--primary-highlight-color);
            border-radius: 5px;
            padding: 5px;
        }

        .progress {
            margin-bottom: 40px;
        }

        :root {
            --primary-highlight-color: rgba(100, 100, 100, 0.75);
            --primary-background-color: rgb(100, 100, 100);
        }
    </style>
    <script>
        let map;
    
        function initMap() {
            var latitude = parseFloat("{{city.latitude|float}}")
            var longitude = parseFloat("{{city.longitude|float}}")
            console.log(latitude, longitude)
            map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: latitude, lng: longitude },
            zoom: 8,
            });
        }
    </script>
{% endblock %}

{% block body %}
<div class="jumbotron" style="background-color: #395C6B; margin-bottom: 0px">
    <div class="row">
      <h1 style="color: white;">{{city_name}}</h1>
    </div>
</div>

  <div class="row">
    <div class="col" style="background-color: #80A4ED; padding: 40px">
      <h4 class="text-center" style="padding-bottom: 20px;">{{city.name}} at a Glance</h4>
      <h5>Median Age: {{city.median_age}}</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{city.median_age}}" aria-valuemin="0" aria-valuemax="100" style="width: {{city.median_age}}%"></div>
      </div>
      <h5>Median Gross Rent: ${{city.median_gross_rent}}</h5>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{city.median_gross_rent}}" aria-valuemin="100" aria-valuemax="2500" style="width: {{city.median_gross_rent/25}}%"></div>
      </div>
      <h5>Satellite View of City</h5>
      <div>
        <img src="/images/city/{{city.id}}" style="width: 100%; height: 100%; margin-bottom: 40px;"/>
      </div>
      <h5>Community Type: {{city.community_type}}</h5>
    </div>
 
    <div class="col-xl-9" style="padding: 40px">
        <div id="map"></div>
        <div class="container" id="overview" style="margin-bottom: 10px; padding: 0px;">
            <h3 class="headers text-center">Overview</h3>
            <div class="row">
                <div class="col text-center"><img style="width:50%;height:100%;" src="/static/city.png"/></div>
                <div class="col text-center"><img style="width:40%;height:90%;padding-top:5%;" src="/static/person.png"/></div>
                <div class="col text-center"><img style="width:45%;height:95%;padding-top:5%;" src="/static/people.png"/></div>
            </div>
            <div class="row">
                <div class="col text-center"><h1>{{city.area}}</h1></div>
                <div class="col text-center"><h1>{{city.population}}</h1></div>
                <div class="col text-center"><h1>{{city.population_density}}</h1></div>
            </div>
            <div class="row">
                <div class="col text-center"><h4>Area (sq mi)</h4></div>
                <div class="col text-center"><h4>Population</h4></div>
                <div class="col text-center"><h4>Population Density</h4></div>
            </div>
        </div>
        <div class="container">
            <h3 class="text-center headers">Suggested Majors at Universities in {{city_name}}</h3>
            <div class="card-columns">
                {% for major in suggested_majors %}
                <!-- TODO make image a background-image instead of img -->
                <div
                    class="card h-100 main-button"
                    style="background-image:'/images/major/{{ major.id }}';"
                >
                    <img class="card-img-top d-block" src="/images/major/{{ major.id }}" />
                    <div class="centered text-white highlight">{{major.name}}</div>
                    <a href="/major/{{major.name}}" class="stretched-link"></a>
                </div>
                {% endfor %}
            </div>
        </div>
        <h3 class="text-center headers">Colleges & Universities in {{city_name}}</h3>
        <div class="card-columns text-center">
            {% for uni in schools %}
            <!-- TODO make image a background-image instead of img -->
            <div
                class="card h-100 main-button"
                style="background-image:'/images/university/{{ uni.id }}';"
            >
                <img class="card-img-top d-block" src="/images/university/{{ uni.id }}" />
                <div class="centered text-white highlight">{{uni.school_name}}</div>
                <a href="/university/{{uni.school_name}}" class="stretched-link"></a>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {{ pagination.links }}
        </div>
    </div>
  </div>
{% endblock %}