<!DOCTYPE html>
<html lang="en">
  <head>
    <title>US Universities IDB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgba(25, 25, 25, 1.0)">
      <button class="navbar-toggler" data-toggle="collapse" type="button"  data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Universities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Majors</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron" style="background-color: rgba(110, 110, 110, 0.6)">
      <h1 style="text-align: center">Fields of Study & Majors</h1>
    </div>

    <div class="container">

      <div class="card-columns">

        <div class="card h-100">
          <div class="card-body text-center">
            <a href="{{url_for('major', major_name='education')}}">
            <img class="img-fluid d-block" src="{{url_for('static', filename='education.jpg')}}">
            <h5>Education</h5>
            </a>
          </div>
        </div>

        <div class="card h-100">
          <div class="card-body text-center">
            <a href="{{url_for('major', major_name='engineering')}}">
            <img class="img-fluid d-block" src="{{url_for('static', filename='engineering.jpg')}}">
            <h5>Engineering</h5>
            </a>
          </div>
        </div>

        <div class="card h-100">
          <div class="card-body text-center">
            <a href="{{url_for('major', major_name='history')}}">
            <img class="img-fluid d-block"  src="{{url_for('static', filename='history.jpg')}}">
            <h5>History</h5>
            </a>
          </div>
        </div>

      </div>

    </div>

  </body>
</html>