{% extends 'base.html' %}
{% block head %}
<title>US Majors IDB</title>
<style>
    :root {
        --primary-highlight-color: rgba(100, 100, 100, 0.75);
        --primary-background-color: rgb(100, 100, 100);
    }

    #index-top-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .main-button {
        height: 10rem;
        border-radius: 25px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .card-img-top {
        height: 12vw;
        object-fit: cover;
    }
    
    #main-button img {
        object-fit: none;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    #main-button div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .highlight {
        background-color: var(--primary-highlight-color);
        border-radius: 5px;
        padding: 5px;
    }

    .headers {
            color: white;
            background-color: #395C6B;
            padding: 4px 0px 4px 5px;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: var(--primary-background-color);
    }

    hr {
        margin: 30px 0px;
    }
</style>
{% endblock %}
{% block body %}
<div class="jumbotron" style="background-color: #395C6B; margin-bottom: 0px; color: white;">
  <div class="row">
    <h1>{{major_name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col" style="background-color: #80A4ED; padding: 40px">
    <h4 class="text-center" style="color: #0b5777;">Related Majors</h4>
    <ul class="list-group list-group-flush">
    {% for major in related_majors %}
        <li class="list-group-item" style="background-color: #80A4ED;">
            <a href="/major/{{major.name}}">
                <h5 class="text-center" style="color: black; margin: 5px;">{{major.name}}</h5>
            </a>
        </li>
    {% endfor %}
    </ul>
  </div>
  <div class="col-xl-9" style="padding: 40px">
    <h2 class="headers" style="margin-bottom: 20px;">Description</h1>
    <p style="margin-left: 4px; font-size: 20px; margin-bottom: 40px;">{{major.description}}</p>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <img src="/images/major/{{major.id}}" style="width: 100%; height: 100%;"/>
                </div>
            </div>
            <div class="col">
                <div class="align-middle"">
                    <br /><br />
                    <h1 class="text-center" style="font-size: 500%;">~{{num_schools}}</h1>
                    <h1 class="text-center">Bachelor's Programs</h1>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2 class="headers" style="margin-bottom: 30px;">Salary Statistics</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 id="starting-salary" class="text-center" style="font-size: 400%;">{{format_dollar_amt(major.average_earnings())}}</h3>
                <h3 class="text-center">Average Starting Salary</h3>
            </div>
            <div class="col">
                <h3 id="mid-salary" class="text-center" style="font-size: 400%;">{{format_dollar_amt(major.average_mid_earnings())}}</h3>
                <h3 class="text-center">Average Mid-Career Salary</h3>
            </div>
        </div>
    </div>
    <h3 class="headers" style="margin-top: 30px; margin-bottom: 30px;">Suggested Cities with Universities offering Bachelor's Degrees in {{major_name}}</h3>
    <div class="container">
        <div class="card-columns">
            {% for city in cities %}
            <!-- TODO make image a background-image instead of img -->
            <div
                class="card h-100 main-button"
                style="background-image:'/images/city/{{ city.id }}';"
            >
                <img class="card-img-top d-block" src="/images/city/{{ city.id }}" />
                <div class="card-body bg-dark">
                    <h6 class="centered text-white card-title">{{city.name}}</h6>
                    <a href="/city/{{city.name}}" class="stretched-link"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <h3 class="headers" style="margin-top: 30px; margin-bottom: 30px;">Colleges & Universities offering Bachelor's Degrees in {{major_name}}</h3>
    <div class="container">
    <div class="card-columns">
        {% for uni in schools %}
        <!-- TODO make image a background-image instead of img -->
        <div
            class="card h-100 main-button"
            style="background-image:'/images/university/{{ uni.id }}'; min-height: 29rem; max-height: 29rem;"
        >
            <img class="card-img-top d-block" src="/images/university/{{ uni.id }}" />
            <div class="card-body bg-dark">
                <h6 class="centered text-white card-title">{{uni.school_name}}</h6>
                <a href="/university/{{uni.school_name}}" class="stretched-link"></a>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="d-flex justify-content-center">
    {{ pagination.links }}
</div>
</div>
{% endblock %}