{% extends 'base.html' %}
{% block body %}
<div class="jumbotron" style="background-color: #395C6B; margin-bottom: 0px">
  <div class="row">
    <h1>{{major_name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col" style="background-color: #80A4ED; padding: 40px">
    <h4 class="text-center">{{major_name}} at a Glance</h4>
    <button data-toggle="collapse" type="button" class="btn btn-block" style="background-color: #395C6B" data-target="#starting-salary">Median Starting Salary</button>
      <div id="starting-salary" class="collapse">{{format_dollar_amt(major_stats[major_name.lower().replace(' ','_')]['median_starting_salary'])}}</div>
      <br>
    <button data-toggle="collapse" type="button" class="btn btn-block" style="background-color: #395C6B" data-target="#midcareer-salary">Median Mid-Career Salary</button>
      <div id="midcareer-salary" class="collapse">{{format_dollar_amt(major_stats[major_name.lower().replace(' ','_')]['median_midcareer_salary'])}}</div>
      <br>

    <button data-toggle="collapse" type="button" class="btn btn-block" style="background-color: #395C6B" data-target="#certificate">Number of Certificate Programs</button>
      <div id="certificate" class="collapse">{{major_stats[major_name.lower().replace(' ','_')]['num_certificate_programs']}}</div>
    <br>
    <button data-toggle="collapse" type="button" class="btn btn-block" style="background-color: #395C6B" data-target="#associates">Number of Associate's Programs</button>
      <div id="associates" class="collapse">{{major_stats[major_name.lower().replace(' ','_')]['num_associate_programs']}}</div>
      <br>

      <button data-toggle="collapse" type="button" class="btn btn-block" style="background-color: #395C6B" data-target="#bachelors">Number of Bachelor's Programs</button>
      <div id="bachelors" class="collapse">{{major_stats[major_name.lower().replace(' ','_')]['num_bachelor_programs']}}</div>
  </div>
  <div class="col-xl-9">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
{% endblock %}