{% extends 'base.html' %}
{% block head %}
<title>US Majors IDB</title>
<style>
    :root {
        --primary-highlight-color: rgba(100, 100, 100, 0.75);
        --primary-background-color: rgb(100, 100, 100);
    }

    #index-top-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .main-button {
        height: 10rem;
        border-radius: 25px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .card-img-top {
        height: 12vw;
        object-fit: cover;
    }
    
    #main-button img {
        object-fit: none;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    #main-button div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .highlight {
        background-color: var(--primary-highlight-color);
        border-radius: 5px;
        padding: 5px;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: var(--primary-background-color);
    }
</style>
{% endblock %}
{% block body %}
<div class="jumbotron" style="background-color: #395C6B; margin-bottom: 0px">
  <div class="row">
    <h1>{{major_name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col" style="background-color: #80A4ED; padding: 40px">
    <h4 class="text-center">{{major_name}} at a Glance</h4>
    <button data-toggle="collapse" type="button" class="btn btn-block" style="background-color: #395C6B" data-target="#starting-salary">Average Starting Salary</button>
      <div id="starting-salary" class="collapse">{{format_dollar_amt(major.average_earnings())}}</div>
      <br>

      <button data-toggle="collapse" type="button" class="btn btn-block" style="background-color: #395C6B" data-target="#mid-salary">Average Mid-Career Salary</button>
      <div id="mid-salary" class="collapse">{{format_dollar_amt(major.average_mid_earnings())}}</div>
      <br>

      <button data-toggle="collapse" type="button" class="btn btn-block" style="background-color: #395C6B" data-target="#bachelors">Number of Bachelor's Programs</button>
      <div id="bachelors" class="collapse">{{num_schools}}</div>
  </div>
  <div class="col-xl-9" style="padding: 40px">
     <h3 class="text-center">Colleges & Universities offering Bachelor's Degrees in {{major_name}}</h3>
      <div class="container">
    <div class="card-columns">
        {% for uni in schools %}
        <!-- TODO make image a background-image instead of img -->
        <div
            class="card h-100 main-button"
            style="background-image:'/images/university/{{ uni.id }}';"
        >
            <img class="card-img-top d-block" src="/images/university/{{ uni.id }}" />
            <div class="centered text-white highlight">{{uni.school_name}}</div>
            <a href="/university/{{uni.school_name}}" class="stretched-link"></a>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="d-flex justify-content-center">
    {{ pagination.links }}
</div>
</div>
{% endblock %}