{% extends 'base.html' %} {% block head %}
<style>
    :root {
        --primary-highlight-color: rgba(100, 100, 100, 0.75);
        --primary-background-color: rgb(100, 100, 100);
    }

    #index-top-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .jumbotron {
        background-color: var(--primary-highlight-color);
        margin: 2rem;
    }

    .card-img-top {
        height: 12vw;
        object-fit: cover;
    }

    .main-button {
        height: 10rem;
        border-radius: 25px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .first-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    .second-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    .third-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    #main-button img {
        object-fit: none;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    #main-button div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .highlight {
        background-color: var(--primary-highlight-color);
        border-radius: 5px;
        padding: 5px;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: var(--primary-background-color);
    }
</style>
<title>{{model.title}}</title>
{% endblock %} {% block body %}

<div class="jumbotron" style="background-color: rgba(110, 110, 110, 0.6)">
    <h1 style="text-align: center">{{ model.title }}</h1>
</div>

<div class="container">
    <div class="card-columns">
        {% for instance in model.instances %}
        <!-- TODO make image a background-image instead of img -->
        <div
            class="card h-100 main-button"
            style="background-image:'{{ instance.image_url }}';"
        >
            <img class="card-img-top d-block" src="{{instance.image_url}}" />
            <div class="card-body">
                <h5 class="card-title">{{instance.name}}</h5>
                <ul>
                    <li>{{instance.attribute_1['name']}}: {{instance.attribute_1['value']}}</li>
                    <li>{{instance.attribute_2['name']}}: {{instance.attribute_2['value']}}</li>
                    <li>{{instance.attribute_3['name']}}: {{instance.attribute_3['value']}}</li>
                </ul>
            </div>
            <a href="{{instance.page_url}}" class="stretched-link"></a>
        </div>
        {% endfor %}
    </div>
    {{ pagination.links }}
</div>

{% endblock %}
