{% extends 'base.html' %} {% block head %}
<style>
    :root {
        --primary-highlight-color: rgba(100, 100, 100, 0.75);
        --primary-background-color: rgb(100, 100, 100);
    }

    #index-top-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .jumbotron {
        background-color: var(--primary-highlight-color);
        margin: 2rem;
    }

    .card-img-top {
        height: 12vw;
        object-fit: cover;
    }

    .main-button {
        height: 10rem;
        border-radius: 25px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .first-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    .second-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    .third-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    #main-button img {
        object-fit: none;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    #main-button div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .highlight {
        background-color: var(--primary-highlight-color);
        border-radius: 5px;
        padding: 5px;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: var(--primary-background-color);
    }
</style>
<title>{{model.title}}</title>
{% endblock %} {% block body %}

<div class="jumbotron" style="background-color: #b82b28">
    <h1 style="text-align: center">{{ model.title }}</h1>
</div>

<div class="container">
    <div class="d-flex justify-content-center p-2 border">
        <div class="col-md-6 col-sm-7">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <form class="form-inline d-flex justify-content-center" action="search{{ model.instances[0].model_type }}" method="GET">
                <input class="form-control" id="search-form-input" type="text" placeholder="Search" aria-label="Search" name="searchin">
                <button id="search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div id="place_for_suggestions">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        // Search suggestions
        $("#search-form-input").keyup(function(){
            var text = $(this).val();

            $.ajax({
                url: "/suggestions/{{ model.instances[0].model_type }}",
                type: "get",
                data: {jsdata: text},
                success: function(response) {
                    //$("#place_for_suggestions").html(response);
            },
            error: function(xhr) {
                //Do Something to handle error
            }
            });
        });

        // Search functionality
        $("#search-button").click(function(){
            var text = $("#search-form-input").val();

            $.ajax({
                //url: "/search/{{ model.instances[0].model_type }}",
                type: "get",
                data: {jsdata: text},
                success: function(response) {
                    console.log("success")
                    $("html").html(response);
                },
                error: function(xhr) {
                    //Do Something to handle error
                }
            });
        })
    </script>

    <div class="card-columns" id="instances">
        {% for instance in model.instances %}
        <!-- TODO make image a background-image instead of img -->
        <div
            class="card h-100 main-button"
            style="background-image:'{{ instance.image_url }}';  min-height: 27rem; max-height: 27rem;"
        >
            <img class="card-img-top d-block" src="/images/{{ instance.model_type }}/{{ instance.id }}" />
            <div class="card-body">
                <h5 class="card-title">{{instance.name.replace(".", "")}}</h5>
                <ul>
                    <li>{{instance.attribute_1['name']}}: {{instance.attribute_1['value']}}</li>
                    <li>{{instance.attribute_2['name']}}: {{instance.attribute_2['value']}}</li>
                    <li>{{instance.attribute_3['name']}}: {{instance.attribute_3['value']}}</li>
                </ul>
            </div>
            <a href="{{instance.page_url}}" class="stretched-link"></a>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        {{ pagination.links }}
    </div>
</div>

{% endblock %}
