{% extends 'base.html' %} {% block head %}
<style>
    :root {
        --primary-highlight-color: rgba(100, 100, 100, 0.75);
        --primary-background-color: rgb(100, 100, 100);
    }

    #index-top-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .jumbotron {
        background-color: var(--primary-highlight-color);
        margin: 2rem;
    }

    .list-group-item {
        padding: .25em .25em;
    }

    .card-img-top {
        height: 12vw;
        object-fit: cover;
    }

    .main-button {
        height: 10rem;
        border-radius: 25px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .first-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    .second-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    .third-image {
        background-image: url("https://thumbnails.texastribune.org/mqTx0nHcXzbyYBnODHV3aRITwbM=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/files/ec9e4cecb784a6a461353ac943eb1d36/UT%20Austin%20Closures%20MG%2009%20TT.jpg");
    }

    #main-button img {
        object-fit: none;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    #main-button div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .highlight {
        background-color: var(--primary-highlight-color);
        border-radius: 5px;
        padding: 5px;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: var(--primary-background-color);
    }
</style>

<script>
    // keep form input selected on page reload
    window.onload = function () {
	  	var url_string = window.location.href;
		var url = new URL(url_string);
		var params = url.searchParams;
		params.forEach(function(value, key) {
	  		var element = document.getElementById(key);
	  		element.value = value;
		});
	}
</script>

<title>{{model.title}}</title>
{% endblock %} {% block body %}

<div class="jumbotron" style="color: white; background-color: #395C6B;">
    <h1 style="text-align: center">{{ model.title }}</h1>
</div>

<div class="container" style="max-width: 1600px;">
    <div class="d-flex justify-content-center p-2 border">
    <div class="col-md-6 col-sm-7">
    <form method="GET">
<!--                <label for="sort" style="font-weight: bold; margin-right: 5px;">Sort</label>-->
                    <h5 style="font-size: 18px;">Sort</h5>
                    <select name="order_by" id="order_by">
                    <option id="choose" name="choose" value="">Select</option>
                    {% for btn in model["sort_buttons"].buttons %}
                        <option id="{{btn.html_id}}" name="{{btn.name}}" value="{{btn.value}}">{{btn.label}}</option>
                    {% endfor %}
                </select>
                <select name="order" id="order">
                    <option value="">Ascending</option>
                    <option value="-">Descending</option>
                </select>
                <h5 style="font-size: 18px;">Filter</h5>
            {% for radio_button_set in model["filter_buttons"] %}
                <label for="{{radio_button_set.set_name}}">{{radio_button_set.title}}</label>
                <select name="{{radio_button_set.buttons[0].name}}" id="{{radio_button_set.buttons[0].name}}">
                <option name="" id="" value="">Select</option>
                    {% for button in radio_button_set.buttons %}
                        <option id="{{button.html_id}}" name="{{button.name}}" value="{{button.value}}">{{button.label}}</option>
                    {% endfor %}
                </select>
            {% endfor %}
            {% for text_input in model["filter_text"] %}
                    <h6>{{text_input.placeholder}}</h6>
                    <input class="form-control" id="{{text_input.name}}" type="text" placeholder="{{text_input.placeholder}}" aria-label="{{text_input.placeholder}}" name="{{text_input.name}}">
            {% endfor %}
                <h6>Search</h6>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <input class="form-control" id="searchin" type="text" placeholder="Search" aria-label="Search" name="searchin">
                <br>
                <button id="lookup-button" type="submit"><i class="fa fa-search"></i></button>
                <br> <br>
    </form>
    <form>
        <input type="submit" value="clear" />
    </form>
    </div>
    </div>
    <br />
    <div id="place_for_suggestions">
    </div>


    <div class="card-columns" id="instances">
        {% for instance in model.instances %}
        <!-- TODO make image a background-image instead of img -->
        <div
            class="card h-100 main-button bg-light"
            style="background-image:'{{ instance.image_url }}';  min-height: 29rem; max-height: 29rem;"
        >
            <img class="card-img-top d-block" src="/images/{{ instance.model_type }}/{{ instance.id }}" />
            <div class="card-body">
                <h5 class="card-title">{{instance.name.replace(".", "")}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-black bg-light">{{instance.attribute_1['name']}}: {{instance.attribute_1['value']}}</li>
                    <li class="list-group-item text-black bg-light">{{instance.attribute_2['name']}}: {{instance.attribute_2['value']}}</li>
                    <li class="list-group-item text-black bg-light">{{instance.attribute_3['name']}}: {{instance.attribute_3['value']}}</li>
                </ul>
            </div>
            <a href="{{instance.page_url}}" id="{{ instance.id }}" class="stretched-link"></a>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        {{ pagination.links }}
    </div>
</div>

{% endblock %}
