{% extends 'base.html' %}

{% block head %}
<title>{{university_name}}</title>
<style>
    .sections {
        padding-left: 30px;
        padding-bottom: 10px;
    }

    .div-text {
        padding-left: 20px;
        font-size: 14pt;
    }

    a {
        color: black;
    }

    .headers {
        color: white;
        background-color: #395C6B;
        padding: 4px 0px 4px 5px;
    }
</style>
{% endblock %}

{% block body %}

<div>
    <div class="jumbotron" style="background-color: #395C6B;">
        <h1 style="color: white">{{university_name}}</h1>
        <p style="color: white">{{city_name}}</p>
    </div>

    <div style="margin-right: 25px;">
        <div style="width:15%; float: left; background-color: #80A4ED; padding:10px; color: white;">
            <h6 class="sections"><a href="#info">Location</a></h6>
            <h6 class="sections"><a href="#majors">Majors</a></h6>
            <h6 class="sections"><a href="#admissions">Admissions</a></h6>
            <h6 class="sections"><a href="#demographics">Demographics</a></h6>
            <h6 class="sections"><a href="#cost">Cost</a></h6>
        </div>
        <div style="width:52%; float: left; margin-left:20px">
            <div class="container" id="overview" style="margin-bottom: 10px;">
                <h3 class="headers">Overview</h3>
                <div class="row">
                    <div class="col text-center"><h4>Student Population</h4></div>
                    <div class="col text-center"><h4>Acceptance Rate</h4></div>
                    <div class="col text-center"><h4>Tuition</h4></div>
                </div>
                <div class="row">
                    <div class="col text-center"><h1>{{university.latest_student_size}}</h1></div>
                    <div class="col text-center"><h1>{{university.latest_admissions_admission_rate_overall*100}}%</h1></div>
                    <div class="col text-center"><h1>${{university.latest_cost_tuition_in_state}}</h1></div>
                </div>
            </div>
            <div class="container" id="info" style="margin-bottom: 10px">
                <h3 class="headers">School Info</h3>
                <div style="width: 40%; float: left;">
                    <h5 class="text-center" style="padding-top: 20%"><a href="/city/{{university.school_city}}">Location: {{city_name}}</a></h5>
                    <h5 class="text-center">Main Campus: {{city_name}}</h5>
                    <h5 class="text-center">Website:
                        <a href="{{university.website}}" style="color: blue;">{{university.school_school_url}}</a>
                    </h5>
                </div>
                <div>
                    <img class="img-fluid d-block" style="width: 60%;" src="/images/university/{{university.id}}" />
                </div>
            </div>
            <!-- TODO link to majors pages and make dynamic -->
            <div class="container" id="majors" style="margin-bottom: 10px;">
                <h3 class="headers">Majors</h3>
                {% for i in range(university.majors_offered|length//3) %}
                <div class="row">
                    <div class="col div-text">
                        <a href="/major/{{university.majors_offered[3*i].name}}" class="stretched-link">{{ university.majors_offered[3*i].name|title }}</a>
                    </div>
                    <div class="col div-text">
                        <a href="/major/{{university.majors_offered[3*i+1].name}}" class="stretched-link">{{ university.majors_offered[3*i+1].name|title }}</a>
                    </div>
                    <div class="col div-text">
                        <a href="/major/{{university.majors_offered[3*i+2].name}}" class="stretched-link">{{ university.majors_offered[3*i+2].name|title }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="container" id="admissions" style="margin-bottom: 10px">
                <h3 class="headers">Admissions</h3>
                <div class="row">
                    <div class="col" style="text-align: center;"><h1>{{university.latest_admissions_sat_scores_average_overall}}</h1></div>
                    <div class="col" style="text-align: center;"><h1>{{university.latest_admissions_act_scores_midpoint_cumulative}}</h1></div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center;"><h4>SAT median</h4></div>
                    <div class="col" style="text-align: center;"><h4>ACT median</h4></div>
                </div>
            </div>
            <div class="container" id="demographics" style="margin-bottom: 10px">
                <h3 class="headers">Demographics</h3>
                <div class="row">
                    <div class="col text-center" style="padding-left: 20px;"><h3>By Race</h3></div>
                    <div class="col">
                        <div class="row div-text">Black: {{university.latest_student_demographics_race_ethnicity_black*100}}%</div>
                        <div class="row div-text">White: {{university.latest_student_demographics_race_ethnicity_white*100}}%</div>
                        <div class="row div-text">Asian: {{university.latest_student_demographics_race_ethnicity_asian*100}}%</div>
                        <div class="row div-text">Hispanic: {{university.latest_student_demographics_race_ethnicity_hispanic}}%</div>
                    </div>
                </div>
                <div class="row" style="padding: 20px;">
                    <div class="col text-center" style="padding-left: 20px;"><h3>By Gender</h3></div>
                    <div class="col">
                        <div class="row div-text">Men: {{university.latest_student_demographics_men*100}}%</div>
                        <div class="row div-text">Female: {{university.latest_student_demographics_women*100}}%</div>
                    </div>
                </div>
            </div>
            <div class="container" id="cost" style="margin-bottom: 10px;">
                <h3 class="headers">Tuition and Aid</h3>
                <div style="width: 50%; float: left;">
                    <h5 style="padding-left: 10px;">Tuition</h5>
                    <div class="div-text">In-state: ${{university.latest_cost_tuition_in_state}}</div>
                    <div class="div-text">Out of State: ${{university.latest_cost_tuition_out_of_state}}</div>
                    <h5 style="padding-left: 10px;">Aid</h5>
                    <div class="div-text">Median Debt: ${{university.latest_aid_median_debt_completers_overall}}</div>
                </div>
                <div style="width: 50%; float: right;">
                    <h1 style="text-align: center; padding-top: 30px;">${{university.latest_cost_attendance_academic_year}}</h1>
                    <h5 style="text-align: center;">Average cost per year</h5>
                </div>
            </div>
        </div>
        <div style="width:30%; float: right;">
            <div class="container" style="border:2px solid lightgrey; margin-bottom: 20px;">
                <h3>Degrees</h3>
                <div>Predominant Degree Awarded: {{university.school_degrees_awarded_predominant}}</div>
                <div>Highest Degree Awarded: {{university.school_degrees_awarded_highest}}</div>
            </div>
            <div class="container" style="border:2px solid lightgrey; margin-bottom: 20px;">
                <h3>Completion Rates</h3>
                <div>Completion Overall 2019: {{university.latest_completion_4_yr_completion_overall}} </div>
                <div>White students: {{university.latest_completion_completion_rate_4yr_150_white*100}}%</div>
                <div>Black students: {{university.latest_completion_completion_rate_4yr_150_black*100}}%</div>
                <div>Asian students: {{university.latest_completion_completion_rate_4yr_150_asian*100}}%</div>
                <div>Hispanic students: {{university.latest_completion_completion_rate_4yr_150_hispanic*100}}%</div>
            </div>
            <div class="container" style="border:2px solid lightgrey; margin-bottom: 20px;">
                <h3>Earnings</h3>
                <div>Average Earnings after 10 years: ${{university.latest_earnings_10_yrs_after_entry_median}}</div>
            </div>
            <div class="container" style="border:2px solid lightgrey; margin-bottom: 20px;">
                <h3>Retention Rate</h3>
                <div>Overall: {{university.latest_student_retention_rate_four_year_full_time*100}}%</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
